* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #353535;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    margin: 2rem;
}

section {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;